* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenedor {
    height: 100vh;
    border: 4px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Eje primario (ahora es y)*/
    align-items: center; /* Valor defecto */
}

.caja {
    width: 100px;
    height: 100px;
    padding: 20px;
    background-color: lightcoral;
    margin: 20px;
}

.caja.derecha {
    align-self: flex-end; /* Alinea a elemento hijos en el eje secundario*/
}

.caja p {
    font-size: 20px;
}